*~
.AppleDouble*
*.pyc
*__pycache__*
build/*
bin/*
.waf*
*.swp
gmon.out
*.bak
python_extension/**
.ipynb_checkpoints
dist
src/Makevars
autom4te.cache
config.log
config.status
src/*.o
src/*.so
.Rproj.user
.Rhistory
src/crossingprobability.dll
